.container img {
  width: 80px;
  height: 80px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .container div {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }

  .container div img,p {
    flex: 0 0 auto;
  }
}
