@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700&display=swap');

/* Colors */
/* Blue:  rgb(69,121,225);
Pink:  rgb(239,205,206);
Light Blue:  #62a1d8; 
Orange: rgb(224,113,38)
Light brown: rgb(148,93,32);
Almost white: rgb(253,250,227);
ligther rgb(255, 253, 238);
brown: rgb(55,31,2);
beige: rgb(217,172,126);

New:
turquoise: rgb(179,218,217);
pink: rgb(248, 104, 127);
ligther white: rgb(255, 253, 238);
*/


* {
  font-family: 'Noto Sans HK', sans-serif;
}

@media (min-width:768px) {
  
  body {
    font-family: 'Noto Sans HK', sans-serif;
    width: 100%;
    height: 100%;
  }

  header {
    display: flex;
    flex-flow: column wrap;
    background-image: url(pictures/landing/watermelonFinal.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width:100vw;
    border-bottom: 5px solid rgb(179,218,217);
  }

  header img {
    width: 50px;
    height: auto;
    margin: 20px 20px 20px 20px;
    justify-content: left;
    align-self: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  header h1 {
    font-weight: 400;
    font-size: 40px;
    font-family: 'Noto Sans HK', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(255, 253, 238);
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-shadow: 0 0 10px rgb(179,218,217);
    margin-top: 30vh;
  }

  header button {
    width: 130px;
    height: 45px;
    color: rgb(253,250,227);
    font-size: 15px;
    background-color: rgb(179,218,217);
    border: none;
    box-shadow: 0 0 10px rgb(239,205,206);
    border-radius: 3px;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  header button > a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  #theme {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    margin: 20px 0 12px 0;
  }

  .themeHeader {
    font-family: 'Noto Sans HK', sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(248, 104, 127);
    font-size: 28px;
    padding-left: 20px;
    margin: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    padding: 15px 0 15px 0;
    width: 100vw;
    height: auto;
    margin: 0;
  }

  .container div {
      display: flex;
      text-align: left;
      margin: 10px 15px 20px 15px;
      background: none;
      width: 170px;
      height: auto;
      border: 0.05px solid rgb(239,205,206);
      box-shadow: 0 0 20px rgb(239,205,206);
      border-radius: 3px; 
    }

  .container div:first-child {
    display: flex;
    text-align: left;
    margin: 10px 15px 20px 0px;
    background: none;
    width: 170px;
    height: auto;
    border: 0.05px solid rgb(239,205,206);
    box-shadow: 0 0 20px rgb(239,205,206);
    border-radius: 3px; 
  }

.container div:nth-child(2) {
  display: flex;
  text-align: left;
  margin: 10px 15px 20px 15px;
  background: none;
  width: 200px;
  height: auto;
  border: 0.05px solid rgb(239,205,206);
  box-shadow: 0 0 20px rgb(239,205,206);
  border-radius: 3px; 
}

  .container img {
    width: 80px;
    height: 80px;
  }

  .container div p {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 18px;
    font-size: 15px;
    line-break: auto;
    align-self: center;
  }

  .container div p a {
    font-size: 15px;
    font-family: 'Noto Sans HK', sans-serif;;
    line-break: auto;
    text-decoration: none;
    color: rgb(248, 104, 127);
  }

  #game {
    background-color: rgb(179,218,217);
    height: auto;
    display: flex;
    flex-flow: column wrap;
    border-top: 5px solid rgb(248, 104, 127);
    border-bottom: 5px solid white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 20px;
  }

  #game h2 {
    font-family: 'Noto Sans HK', sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    font-size: 28px;
    padding-left: 20px;
    margin: 0;
  }

  .overview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }

  .overview div {
    display: flex;
    flex-flow: row wrap;
  }

  .overview .box {
    display: flex;
    flex-direction: row;
    background: white;
    margin: 50px;
    box-shadow: 0 0 5px white;
    border-radius: 3px;
    max-height: auto;
    min-width: 20px;
    justify-content: center;
  }

.level {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    max-width: 60%;
    font-size: 18px;
    text-transform: uppercase;
  }

  .levelScore {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    max-width: 40%;
    font-size: 18px;
    text-transform: uppercase;
  }

  .text {
  font-size: 18px;
  align-self: center;
  padding: 15px 15px;
  margin: 0;
  width: auto;
  color: rgb(248, 104, 127);
  text-align: center;
  }

  .arrowLeft, .arrowRight {
    font-size: 20px;
    align-self: center;
    padding: 10px 10px;
    margin: 0;
    border-radius: 3px;
    color: rgb(248, 104, 127);
  }

  /* .overview div p {
    /* border: 0.05px solid rgb(239,205,206); */
  /* } */ 

  #memory {
    display: flex;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 5px white;
    width: 675px;
    height: auto;
    align-self: center;
    margin-bottom: 50px;
  }

  .grid {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
  }
  
  .card,
  .back,
  .front {
    height: 100px;
    width: 100px;
  }
  
  .back,
  .front {
    position: absolute;
    backface-visibility: hidden;
  }

  .front {
    background: rgb(248, 104, 127) url('pictures/landing/watermelonSquare.jpg') no-repeat center center / contain;
  }

  .back {
    transform: rotateY(180deg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .selected {
    transform: rotateY(180deg);
  }

  .match {
    background-image: none !important;
  }

  .match .front {
    background: white !important;
  }

  .footer {
    height: 20vh;
    background-color: rgb(248, 104, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    align-content: space-between;
  }

  .icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .icons img {
    margin: 0 10px;
    align-self: center;
  }
  }

}

@media (max-width:767px) {
  
  body {
    font-family: 'Noto Sans HK', sans-serif;
    width: 100vw;
    height: auto;
    margin: 0;
  }

  header {
    display: flex;
    flex-flow: column wrap;
    background-image: url(pictures/landing/watermelonFinal.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100vw;
    border-bottom: 5px solid rgb(179,218,217);
  }

  header img {
    width: 2em;
    height: auto;
    margin: 20px 20px 20px 20px;
    justify-content: left;
    align-self: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  header h1 {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Noto Sans HK', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(255, 253, 238);
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-shadow: 0 0 5px rgb(179,218,217);
    margin-top: 4vh;
  }

  header button {
    width: 95px;
    height: 35px;
    color: rgb(253,250,227);
    background-color: rgb(179,218,217);
    border: none;
    /* box-shadow: 0 0 10px #62a1d8; */
    box-shadow: 0 0 30px rgb(239,205,206);
    border-radius: 3px;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  header button > a {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }

  #theme {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin: 10px 0 10px 0;
  }

  .themeHeader {
    font-family: 'Noto Sans HK', sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(248, 104, 127);
    font-size: 18px;
    padding-left: 15px;
    margin: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    padding: 15px 0 15px 0;
    width: auto;
    height: auto;
    margin: 0;
  }

  .container div {
      display: flex;
      flex-flow: wrap;
      flex-direction: column;
      align-content: flex-start;
      text-align: left;
      margin: 10px 15px 20px 15px;
      background: none;
      width: auto;
      height: auto;
      border: 0.05px solid rgb(239,205,206);
      box-shadow: 0 0 20px rgb(239,205,206);
      border-radius: 3px; 
    }

  .container img {
    max-width: 80px;
    height: 80px;
  }

  .container div p {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-break: auto;
    align-self: center;
  }

  .container div p a {
    font-size: 12px;
    font-family: 'Noto Sans HK', sans-serif;;
    line-break: auto;
    text-decoration: none;
    color: rgb(248, 104, 127);
  }

  #game {
    background-color: rgb(179,218,217);
    height: auto;
    display: flex;
    flex-flow: column wrap;
    border-top: 5px solid rgb(248, 104, 127);
    padding: 10px 0px 10px 0px;
    margin: 0;
    border-bottom: 5px solid white;
  }

  #game h2 {
    font-family: 'Noto Sans HK', sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    font-size: 18px;
    padding-left: 15px;
    margin: 0;
  }

  .overview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }

  .overview div {
    display: flex;
    flex-flow: row wrap;
  }
  .overview .box {
    display: flex;
    flex-direction: row;
    background: white;
    margin: 10px;
    box-shadow: 0 0 5px white;
    border-radius: 3px;
    max-height: auto;
    min-width: 20px;
    justify-content: center;
  }

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: 60%;
    font-size: 12px;
    text-transform: uppercase;
  }

  .levelScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: 40%;
    font-size: 12px;
    text-transform: uppercase;
  }

  .text {
  font-size: 10px;
  align-self: center;
  padding: 10px 5px;
  margin: 0;
  width: auto;
  text-align: center;
  color: rgb(248, 104, 127);
  }

  .arrowLeft, .arrowRight {
    font-size: 10px;
    align-self: center;
    padding: 10px 10px;
    margin: 0;
    border-radius: 3px;
    color: rgb(248, 104, 127);
  }

  #memory {
    display: flex;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 5px white;
    width: 250px;
    height: auto;
    align-self: center;
    margin-bottom: 50px;
  }

  .grid {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
  }
  
  .card,
  .back,
  .front {
    height: 50px;
    width: 50px;
  }
  
  .back,
  .front {
    position: absolute;
    backface-visibility: hidden;
  }

  .front {
    background: rgb(248, 104, 127) url('pictures/landing/watermelonSquare.jpg') no-repeat center center / contain;
  }

  .back {
    transform: rotateY(180deg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .selected {
    transform: rotateY(180deg);
  }

  .match {
    background-image: none !important;
  }

  .match .front {
    background: white !important;
  }

  .footer {
    height: 100px;
    background-color: rgb(248, 104, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    align-content: space-evenly;
  }

  .footer p {
    margin: 0;
    padding: 0 0 10px 0;
  }

  .icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .icons img {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    align-self: center;
  }

}